
@font-face {
    font-family: 'Jura';
    src: url('caminho/para/a/fonte/jura.ttf');
  }
  
   
   
   

body{
    
        font-family:'Jura' ,sans-serif;
        background-color: rgb(172, 170, 170);
         padding: 0%;
          margin: 0;
}
h1{
   
        width: 50%; 
        margin: 23% auto;  
        text-align: center; 
        
        font-size: 60px;
     
}
#paragrafo{
    width:60%;
    margin: 0% auto;
    text-align: center;
    margin-top: -455px;
    font-size: 30px;
     
    font-size:  'Jura', sans-serif;


}
